
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
:root {
    --primary-Purple: hsl(259, 100%, 65%);
    --primary-Light-red: hsl(0, 100%, 67%);

    --neutral-White: hsl(0, 0%, 100%);
    --neutral-off-white: hsl(0, 0%, 94%);
    --neutral-Light-grey: hsl(0, 0%, 86%);
    --neutral-Smokey-grey: hsl(0, 1%, 44%);
    --neutral-off-black: hsl(0, 0%, 8%);
}


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: var(--neutral-Light-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 95%;
    margin: auto;
    background-color: var(--neutral-White);
    padding: 3rem 3rem;
    border-radius: 20px 20px 90px 20px;
}

.user___data{
    display: flex;
    justify-content: space-between;
}

label {
    display: block;
}

input {
    width: 80%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--neutral-Light-grey);
}

.inputError {
    border: 2px solid var(--primary-Light-red);
}

.ilustration {
    border-top: 1px solid var(--neutral-Light-grey);
    margin-top: 4rem;
}

img {
    display: inline-block;
    max-width: 100%;
    border-radius: 50px; 
    background-color: var(--primary-Purple);
    transform: translateY(-30px);
    padding: 0.4rem;
}

button {
    display: none;
}

.img {
    text-align: center;
}

img:hover {
    background-color: var(--neutral-off-black);
}

.age p {
    color: var(--neutral-off-black);
    font-size: 50px;
}

span {
    color: var(--primary-Purple);
}

label {
    display: block;
}

.error {
    font-style: italic;
    color: var(--primary-Light-red);
    font-size: 9px;
}

.error__message,
.valid__error {
    display: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 600px) {
    body {
        max-width: 660px;
        margin: auto;
    }

    .img {
        text-align: right;
    }
}

